# Executables
db
*.exe
*.out

# Compiled Object Files
*.o
*.obj

# Database Files
*.sqlite
*.db

# System Files
.DS_Store
Thumbs.db
*.swp
*~

# Temporary Logs/Output
output_insert.txt
output_select.txt
*.log
*.sh
